*.bin
*.ilk
*.pdb
debug/
Debug/
*.scc
*.user
*.vspcc
*.scc
*.ncb
*.sdf
*.old
*.suo
*.vsscc
*.rom
Release/
*.aps
*.clw
*.opt
*.plg
*.bin
*.elf
*.XML
*.lst
*.obj
*.o
*.sym
*.ihx
*.lnk
*.map
Ti99Dir.ini
